.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    z-index: 1;
    box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.25);

    form {
      margin: 200px 80px 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .logo {
        margin-bottom: 50px;
      }

      h1 {
        @include primary-heading;
        padding-right: 150px;
        border-bottom: 1px solid #e1e7ec;
      }

      h2 {
        font-size: 24px;
        line-height: 36px;
        margin: 20px 0 40px;
      }

      .form-inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label {
          @include text;
          margin-bottom: 10px;
        }

        input {
          border-radius: 10px;
          border: 1px solid #cfd6de;
          width: 381px;
          padding: 15px 20px;
          @include inputs;

          &:focus {
            outline: none;
            border-color: $primary-color;
          }

          &.invalid {
            border-color: $danger;
            background-color: #ffefe7;
            color: $danger;
          }

         
        }

        .error {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          color: $danger;

          span {
            font-size: 20px;
            margin-right: 10px;
          }
        }


        input[type='password'] {
          color: #5f6b72;
        }

        .checkbox-container {
          display: block;
          position: relative;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding-left: 35px;
          color: #5f6b72;
          margin-bottom: 40px;

          input {
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 1;
            width: 25px;
            height: 25px;
            cursor: pointer;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #fff;
            border: 2px solid $primary-color;
            border-radius: 3px;
          }

          input:checked ~ .checkmark {
            background-color: $primary-color;
          }

          .checkmark:after {
            content: '';
            position: absolute;
            display: none;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          .checkmark:after {
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }

      button {
        @include primary-button{
          padding:15px 167px;
        }
      }
    }
  }
}
