.card {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    border: 1px solid #CFD6DE;
    border-radius: 10px;
    

    .building-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding: 20px;

        .floors {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            span {
                @include text;
                color: #fff;
                padding: 3px 20px;
                background: #0199B1;
                border-radius: 20px;
                margin-bottom: 20px;
            }

            .icons {
                color: #8895A7;
                cursor: pointer;

                .icon {
                    text-decoration: none;
                }
            }
        }

        h3 {
            @include subheading(#212934);
        }

        p {
            @include text;
            color: #8895A7;
        }
    }
    
}